# Исключаем все .log файлы
*.log

# Исключаем временные файлы, созданные текстовыми редакторами или операционной системой
*.swp
*.bak
*.tmp

# Исключаем папки с зависимостями (для Node.js, Python и других проектов)
node_modules/
*.venv
venv/
env/

# Исключаем Git репозиторий
.git/

# Исключаем папки с тестами
tests/

# Исключаем конфигурационные файлы IDE (например, VSCode, JetBrains и другие)
.vscode/
.idea/

# Исключаем файлы с настройками пользователя
*.DS_Store

# Исключаем приватные или чувствительные данные
*.env

# Исключаем прочие специфичные файлы, которые не нужны в контейнере
Dockerfile
.gitignore
.dockerignore
README.md